:root {
  --background: hsl(0, 0%, 5%);
  --foreground: hsl(0, 0%, 93%);
  --popover: hsl(0, 0%, 13%);
  --popover-foreground: hsl(0, 0%, 93%);
  --modal: hsl(0, 0%, 13%);
  --modal-foreground: hsl(0, 0%, 93%);
  --primary-font: 'Noto Sans Tamil', sans-serif;
  --section1-font: 'IBM Plex Mono', monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  color: var(--foreground);
  border: none;
  text-decoration: none;
  font-weight: 600;
  list-style: none;
  background-color: var(--background);

}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 10;
  max-width: 100vw;
  width: 100%;
  height: 10%;
  overflow: visible;
}

.divHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  overflow: visible;
}

nav {
  max-width: 50%;
  display: inherit;
  align-items: center;
  overflow-x: visible;
}


.nav-menu ul, .nav-menu li, .nav-menu a {
  display: flex;
  gap: 2vmax;
  overflow-x: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-menu li{
  width: 10vw;
  overflow-x: visible;
  justify-content: center;
  text-align: center;
}

.section1, .section2, .section3, .section4, .section5 {
  min-height: calc(100vh + .625rem);
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
  width: 100%;
}

.headerDiv {
  max-width: 50%;
  min-width: 25%;
  gap: 1rem;
  display: flex;
  justify-content: space-around;
}

.photoAndRole {
  display: flex;
  flex-flow: column wrap;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.photoAndRole p {
  font-size: 1.25rem;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@keyframes borderColorChange {
  0% {
    border-color: hsl(0, 0%, 5%);
  }
  20% {
    border-color: hsl(0, 0%, 10%);
  }
  40% {
    border-color: hsl(0, 0%, 15%);
  }
  60% {
    border-color: hsl(0, 0%, 20%);
  }
  80% {
    border-color: hsl(0, 0%, 25%);
  }
  100% {
    border-color: hsl(0, 0%, 30%);
  }
}


.myphoto {
  max-width: 50%;
  max-height: 20%;
  object-fit: cover;
  border-radius: 50%;
  min-width: 10rem;
  border: 5px solid;
  border-color: var(--modal);
  animation: borderColorChange 5s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.presentation {
  max-width: 50%;
}

.section2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 4rem;
}

.aboutme {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.aboutme div {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  max-width: 80%;
}

.aboutme p {
  font-size: 1.25rem;
}

.tecnologies {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  min-height: 20vh;
}

.divIconsLangs {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  width: 90%;
  justify-content: center;
  overflow: hidden;
}

.langsIcon {
  width: 90%;
  height: 100%;
  object-fit: contain;
  min-width: 2rem;
}


.section3 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.abilities {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  width: 100%;
}

.curAbility {
  background-color: var(--modal);
  border-radius: 10%;
}

.divAbilities {
  display: flex;
  flex-flow: wrap row;
  width: 95%;
  justify-content: center;
  gap: 2rem;
  overflow: visible;
}

.divAbilities button {
  position: relative;
  overflow: visible;
}

.divAbilities button:hover {
  cursor: pointer;
}

.abilityName {
  position: absolute;
  bottom: 80%; /* Coloca o texto acima do ícone */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap; /* Evita quebra de linha no texto */
  overflow: visible;
}

.abilityName::after {
  content: '';
  position: absolute;
  top: 100%; /* Posiciona a seta abaixo do texto */
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}

.divAbilities button:hover span {
  opacity: 1;
}

.abilitiesIcon {
  width: 100%;
  height: 70%;
  object-fit: contain;
  min-width: 2rem;
}

.abilityText {
  font-size: 1.25rem;
  width: 80%;
  text-align: center;
}

.section4 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: calc(100vh + .625rem);
  overflow-x: visible;
}

.projetos {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
}

.carousel {
  position: relative;
  min-height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow-x: visible;
}

.imageCarousel {
  width: 100%;
  min-height: 300px;
  max-height: 50%;
  object-fit:scale-down;
}

.flappybird {
  background-color: rgb(113, 197, 207);
}

.rofnein {
  object-fit: cover;
  object-position: center;
}

.lobinho {
  object-fit: cover;
  object-position: top;
}

.carouselTrackContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.carouselTrack {
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 500ms;
  overflow-x: visible;
}

.carouselSlide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.currentSlide {
  display: flex;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 8rem;
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 1;
  font-family:'Courier New', Courier, monospace
}

.carouselButtonLeft {
  left: 0;
}

.carouselButtonRight {
  right: 0;
}

.isHidden {
  display: none;
}

.carouselDiv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 600px;
  height: 70vh;
  width: 70vmin;
  overflow: hidden;
  background-color: var(--foreground);
  border-radius: 8px;
}

.projectDesc {
  min-height: 300px;
  background-color: var(--foreground);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.projectDesc h4 {
  font-size: 1.75rem;
  text-align: center;
  background-color: var(--foreground);
  color: var(--popover);
  width: 80%;
  font-weight: bolder;
}

.projectDesc p {
  font-size: 1.25rem;
  text-align: center;
  background-color: var(--foreground);
  color: var(--popover);
  font-weight: bolder;
  width: 80%;
}

.projectDesc button {
  width: 25%;
  border-radius: .625rem;
  height: 15%;
  cursor: pointer;
  border: .188rem solid #0e0e0e;
  box-shadow: .125rem .125rem .313rem #00000024;
  min-width: 100px;
}

.projectDesc a{
  font-size: 1.125rem;
  font-weight: bolder;
}


.footerDiv {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: center;
  gap: 2rem;
  height: 8rem;
  padding-bottom: 0.3rem;
}

.footerDiv label {
  font-size: 1.25rem;
  margin-left: 2rem;
  margin-bottom: 0.75rem;
}

.footerDiv img {
  transition: transform 0.5s ease;
  transform-origin: center;
}

.footerDiv nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  gap: 1rem;
}

.instagram {
  background-color: var(--foreground);
  border-radius: 25%;
  max-width: 70%;
}

.github {
  background-color: var(--foreground);
  border-radius: 50%;
  max-width: 70%;
}

.twitter {
  background-color: var(--foreground);
  border-radius: 25%;
  max-width: 70%;
}

.footerDiv a:hover img{
  transform: scale(1.3);
}

.hamburger {
  display: none; /* Esconde o botão hambúrguer por padrão */
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.projetos h2 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.hamburger {
  display: none; /* Esconde o botão hambúrguer por padrão */
  position: relative;
  width: 30px;
  height: 24px;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 2;
}

.hamburger .bar {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 8px;
  background-color: var(--foreground);
  margin: 5px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media screen and (max-width: 720px){
  .carouselButton {
    font-size: 4rem;
  }

  .myphoto {
    border-radius: 32px;
    max-width: 75%;
  }

  .hamburger {
    display: block;
    position: relative;
    left: 25vw; /* Mostra o botão hambúrguer */
  }

  .nav-menu {
    display: none; /* Esconde o menu por padrão */
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px; /* Ajuste conforme necessário */
    width: 100%;
    left: 2rem;
  }

  .nav-menu ul {
    flex-direction: column;
  }

  .nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-menu li {
    margin: 1rem 0;
  }

  .nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .nav-menu.show {
    display: flex; /* Mostra o menu quando a classe 'show' é adicionada */
  }

  .headerDiv {
    gap: 1rem;
    padding-right: 2rem;
  }

  header {
    justify-content: space-between;
  }

  .section1 {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .photoAndRole {
    max-width: 100%;
  }

  .presentation {
    max-width: 95%;
  }
}

@media screen and (max-height: 700px) {
  .imageCarousel {
    min-height: 200px;
  }

  .carouselDiv {
    height: 85vh;
    min-height: auto;
  }

  .section4 {
    height: 110vh;
  }
}

@media screen and (max-height: 600px) {
  .carouselDiv {
    height: 120vh;
  }

  .section4 {
    height: 140vh;
  }

  header {
    height: 12%;
  }

  .bar {
    height: 2px;
  }
}

@media screen and (max-height: 500px){
  .section4 {
    height: 150vh;
  }

  * {
    font-size: 0.875rem;
  }

  .projectDesc {
    overflow-y: auto;
  }
}

@media screen and (max-height: 600px) and (min-width: 300px){
  .carouselDiv {
    height: 110vh;
  }

  .section4 {
    height: 130vh;
  }
  .carouselDiv {
    width: 70vw;
  }

  .projectDesc {
    min-height: 40vh;
  }
}